      div.page_container {
            padding: 0 10%;
            padding-top: 20px;
        }

        body * {
            box-sizing: border-box;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid silver;
        }

        table th {
            padding: 20px;
            text-align: left;
            border: 1px solid silver;
        }

        table td {
            padding: 20px;
            border: 1px solid silver;
        }

        form {
            display: block;
            width: 100%;
        }

        form input[type=search] {
            width: 40%;
            height: 30px;
            margin-bottom: 30px;
            border: 1px solid silver;
        }

        select[name=order_status],
        form select[name=search_order_status] {
            height: 30px;
            width: 100%;
            border: 1px solid silver;
        }

        form select[name=search_order_status] {
            width: 170px;
            float: right;
        }

        footer {
            margin-top: 10px;
            text-align: center;
        }

        footer a {
            display: inline-block;
            color: black;
            padding: 5px;
            text-decoration: none;
            outline: 1px solid silver;
        }

        footer a:focus {
            outline: 1px solid silver;
        }
        tbody.results{
            display: none;
        }