        body *{
            box-sizing: border-box;
        }
        form{
            width: 500px;
            margin: auto;
            margin-top: 50px;
            padding: 20px;
            border: 1px solid silver;
        }
        :focus{
            outline: none;
        }
        form *{
            margin-bottom: 10px;
        }
            form input, form label{
                display: block;
                width: 100%;
            }
            form input{
                height: 25px;
                border: 1px solid silver;
            }
            form input[type=submit]{
                background-color: black;
                border: none;
                color: white;
                width: 50px;
                margin-left: auto;
                margin-bottom: 0px;
                padding: 5px;
                height: 35px;
            }